h1 {
  margin-top: 10px;
  text-align: center;
  color: #99a799;
  padding-top: 10px;
}

body {
  margin: 0;
  padding: 0;
}

.body {
  margin: 20px 10%;
  background-color: #f2ddc1;
  border-radius: 10px;
}

.desc {
  margin: 20px 5%;
}

.image {
  display: flex;
  justify-content: center;
}
.process {
  display: flex;
  justify-content: center;
}
.ing_lable {
  display: inline-block;
  margin: 10px 10px 20px 10px;
  font-size: 30px;
}
.ingredients {
  list-style-type: square;
  margin: 20px;
}

.step {
  display: inline-block;
  font-size: 18px;
}

.steps {
  margin: 10px;
  border-left: 1px solid black;
  padding: 20px;
}

.home_img{
    height: 40vh;
}
